.navbar-static-top {
    margin-left: -14px;
    margin-right: -24px;
}


.right-nav {
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}

.right-nav a {
    display: block;
}

table#gameTable tbody tr:hover {
    background: #6495ed;
    cursor: pointer;
}

#errorMsg {
    text-align: center;
}

.header {
    float: right;
}

.header img {
    border-radius: 5px;
    margin: 10px;
}

.profileButtons{
  text-align: center;
  margin-top: 20px;
}

.big-Landing-Logo{
  margin-top: 60px;
}

.my-profile-btn{
  width: 100%;
}

.fill-width-container{
  width: 100%;
}

.navbar-style{
  background-color: white
}

.register-header{
  text-align: center;
}

.homeLogo{
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.homeLogo:hover{
  cursor: pointer; cursor: hand;
}
